<h1>All DVDs</h1>

<%= link_to 'Add New DVD', new_dvd_path %>

<%= link_to 'Home', root_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Category</th>
  </tr>

  <% @dvds.each do |dvd| %>
    <tr>
      <td><%= dvd.title %></td>
      <td><%= dvd.year %></td>
      <td><%= dvd.genre %></td>
      <td><%= dvd.category %></td>
      <td><%= link_to 'Show', dvd_path(dvd) %></td>
      <td><%= link_to 'Edit', edit_dvd_path(dvd) %></td>
      <td><%= link_to 'Delete', dvd_path(dvd),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
